@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode-Regular.woff2') format('woff2'),
    url('/fonts/FiraCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
.gradient-color {
  background-image: linear-gradient(tomato, purple, gold);
  animation: ease 15s infinite;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f4f4f;
  width: 14px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

#editor {
  position: relative;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
}

.gutter-col {
  cursor: col-resize;
  grid-column: 2;
}

@keyframes animate-gradient {
}
