@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode-Regular.woff2') format('woff2'),
    url('/fonts/FiraCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
.border-gradient-1 {
  background-image: linear-gradient(tomato, purple, gold);
  animation: ease 15s infinite;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f4f4f;
  width: 14px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

#editor {
  position: relative;
  overflow: hidden;
}
.maximize-icon {
  background-image: url('/icons/maximize.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  width: 18px;
  height: 18px;
}
.minimize-icon {
  background-image: url('/icons/minimize.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  width: 18px;
  height: 18px;
}
.unmaximize-icon {
  background-image: url('/icons/unmaximize.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  width: 18px;
  height: 18px;
}
.close-icon {
  background-image: url('/icons/close.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  width: 18px;
  height: 18px;
}
.menu-icon {
  background-image: url('/icons/menu.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  width: 18px;
  height: 18px;
}
#menu-bar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.windows-buttons {
  -webkit-app-region: no-drag;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
}

.gutter-col {
  cursor: col-resize;
  grid-column: 2;
}

@keyframes animate-gradient {
}
