@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode-Regular.woff2') format('woff2'),
    url('/fonts/FiraCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f4f4f;
}

#editor {
  overflow-y: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  height: 100vh;
}

.gutter-col {
  cursor: col-resize;
  grid-column: 2;
}
